.hidden {
    display: none;
}

.bienvenidaLogin {
    text-align: center;
    margin-top: 30px;
}

.divReclamo {
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px black;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}